{
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "yarn version ${nextRelease.version}",
                "publishCmd": "yarn npm publish"
            }
        ]
    ]
}
